
@media screen and (max-width: 700px) {
    .nav{
        height: 3.1rem;
        .menu-container{
            .menu-wrapper{
                display: none;
                flex-direction: column;
                height: 10.5rem;
                width: 10rem;
                position: absolute;
                top:3.1rem;
                right: 0;
                background-color: $black;
                cursor: pointer;
            }
            li{
                
                width: auto;
                height: 2rem;
            }
            li:hover{
                background-color: $main-color;
            }
            a{
                font-size: 0.8rem;
            }
            .ham{
                right: 1.2rem;
                top: 0.8rem;
                display: block;
                cursor: pointer;
              }
        }
        .logo{
            margin-left: 3%;
            width: 200px;
            height: 14px;
      
        }
        .click{
            display: flex;
            justify-content: center;
            .ham1 {
              -webkit-transform: rotate(-45deg) translate(-8px, 5px);
              transform: rotate(-45deg) translate(-4px, 3px);
            }
            .ham2 {
              opacity: 0;
            }
          
            .ham3 {
              -webkit-transform: rotate(45deg) translate(-7px, -7px);
              transform: rotate(45deg) translate(-6px, -5px);
            }
            .menu-wrapper{
              display: flex;
            }
        } 
    }
    .carousel-container{
        .carousel-item-two::after {
            @include carousel(10,center); 
          }
        .carousel-item{
            height: 400px;
        }
        
        .fa-angle-right,
        .fa-angle-left{
            font-size: 1.5rem;
        }
        .arrow-wrapper{
            width: 1.7rem;
            height: 1.7rem;
        }
        .item-wrapper{
            width: 100%;
            height: 65%;
            font-size: 1.7rem;
            align-items: center;
        }
      
        .item-up{
            width: 65%;
            height: 16%;
            font-size: calc(0.7rem + 1.2vw);
            margin-top: -290px;
        }
        .item-down{
            width: 65%;
            height: 30%;
            font-size: calc(0.5rem + 0.8vw);
            line-height:calc(0.6rem + 0.9vw);
            // margin-bottom: -300px;
            // position: relative;
        }
        .item-buttons{
            width: 65%;
            height: 30%;
            // margin-top: -300px;
        }
        .button-left,
        .button-right{
            width: 30%;
            height: 50%;
            font-size: calc(0.6rem + 0.8vw);
        }       
    }
    
    .main{
        width: 90%;
        .main-slogan{
            height: 200px;
            font-size: 1.4rem;
            line-height: 1.9rem;
            margin: 0;
            // margin-bottom: 2rem;
            padding: 1rem;
            padding-bottom: 0;
        }
        .main-item-wrapper{
            flex-direction: column;
            // position: relative;
            // height: 1850px;
            height: auto;
            // margin-top: -30px;
            // padding: -150px;
            // margin-top: -0px;
            .main-item{
                width: 100%;
                height: auto;
            }
            .main-item:first-child{
                padding-top: 2rem;
            }
            .main-item-text{
                font-size: 1rem;
            }
        }
        .main-about-wrapper{
            flex-direction: column;
            width: 100%;
        }
        .main-about-left{
            width: 100%;
            order: 2;
       }
       .main-about-right{
            order: 1;
            width: 100%;
            height: 250px;
            margin: 0;
            background-size: cover;
       }
       .about-text{
          
       }

    }
   .section-one-container{
       .offer-wrapper{
           flex-direction: column;
       }
     
   }
}
  @media screen and (min-width: 701px) and (max-width: 899px) {
    .nav{
        .menu-container{
            padding-right: 3%;
        }
        .logo{
            margin-left: 3%;
            // translate: 100px 100px ;
            width: 270px;
        }
    }
   
    .main-item-wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .first-two{
            flex: 1 0 50%;
        }
        .main-item{
            width: 50%;
        }
    }
}
@media screen and (min-width: 900px) and (max-width: 1100px) {
    .nav{
        .menu-container{
            padding-right: 5%;
        }
        
        .logo{
            margin-left: 5%;
            // // translate: 100px 100px ;
            // width: 160px;
        }
    }
    .main{
        width: 100%;
        margin: 0;
    }
}
   
    // .logo{
    //     margin-right: 12% !important;
    //     transform: translateX(50%)!important;
    // }
