@mixin carousel($number,$position) {
    background-image: url('./../../assets/electric#{$number}.jpg');
    content: "";
    background-position: $position;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}
@mixin hamburger {
    .ham-wrapper {
      display: block;
      cursor: pointer;
      margin-right: 30px;
    }
    .ham{
      position: absolute;
      right: 20px;
      top: 33px;
    }
    .ham1, .ham2, .ham3 {
      width: 30px;
      height: 4px;
      background-color: $white;
      margin: 4px 0;
      transition: 0.4s;
    }
}