.nav{
    background-color: $main-color;
    height: 80px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
    @include hamburger;
    .logo{
        background-image: url('./../../assets/impuls.jpg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 270px;
        // height: 15px;
        margin: 10px;
        margin-left: 15%;
        // opacity: 0.2;
        height: 55px;
    }
    .menu-container{
        // position: relative;
        width: 100%;
        height: 100%;
        padding-right: 15%;
    .ham{
        display: none;
    }
    .menu-wrapper{
        display: flex;
        color:$white;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
   
    li{
        height: 2.6rem;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    li:hover{
        background-color:$black
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 1rem;
        margin: 0.6rem;
        // padding-bottom: 0.3rem;
        cursor: pointer;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }
  
}