.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    // border-top: 35px solid orange;
    background-color: $main-color;
    width: 80%;
    height: 60px;
    margin: 0 auto;
    .logo{
        background-image: url('./../../assets/tomek.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 15px;
        margin: 10px;
        margin-left: -200px;
        // border: 1px solid black ;
        // border-radius: 10px;
        opacity: 0.2;
    }
   
    ul{
        display: flex;
    }
    li{
        // margin:10px;
        // width: 90px;
        font-size: 16px;
        padding: 0 18px 0 18px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        // border-radius: 10px;
    }
    // li:first-child{
    //     background-color: orange;
    // }
    li:hover{
        background-color: $black;
        color: $main-color;
    }
    // li:nth-child(1):hover{
    //     background-color:$black;
    //     color: orange;
    // }
}
