@import './partials/reset';
@import './partials/variables';
@import './partials/mixins';
@import './partials/carousel.scss';
@import './partials/nav';
@import './partials/main';
@import './partials/media';
@import './partials/section-one';


.container{
    width: 100%;
    height: auto;
    font-family: $font;
    color: $black;
    background-color: #e8e8e8;
    overflow: hidden;
}