@import './partials/reset';
@import './partials/variables';
@import './partials/carousel.scss';
@import './partials/nav';
@import './partials/main';
@import './partials/media';
@import './partials/mixins';

.container{
    width: 100%;
    font-family: $font;
    color: $black;
    
}